<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network Ads</title>
</head>
<body>
    <h1>Social Netwok Ads</h1>
    <h2>using Random Forest</h2>
    
    <form method="post" action="/predict">
        <p>Age</p>
        <input name="Age" required>
        <p>EstimatedSalary</p>
        <input name="EstimatedSalary" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>